<app-navbar></app-navbar>
<div class="h-screen pt-20 md:pt-15">
    <!--Main-->
    <div class="container pt-8 md:pt-20 px-6 mx-auto flex flex-wrap flex-col md:flex-row items-stretch">
        
        <!--Left Col-->
        <div class="flex flex-col w-full xl:w-3/6 justify-center lg:items-start overflow-y-hidden">
            <p class="my-4 text-4xl md:ml-3 md:text-6xl text-indigo-800 font-bold leading-tight text-center md:text-left slide-in-bottom-h1">Achieve Your Fitness Goals with Fitness Flow</p>
            <p class="leading-normal text-2xl text-gray-500 md:ml-3 md:text-2xl mb-8 text-center md:text-left slide-in-bottom-subtitle">Your ultimate companion to track workouts, monitor progress, and stay motivated on your fitness journey!</p>
            
            <div class="leading-normal text-gray-500 text-2xl md:text-2xl md:ml-3 mb-4 text-center md:text-left">
                <p class="mb-4"><strong>&#9679; Personalized Workouts</strong></p>
                <p class="mb-4"><strong>&#9679; Progress Tracking</strong></p>
                <p class="mb-4"><strong>&#9679; Community Support</strong></p>
                <p class="mb-4"><strong>&#9679; Expert Guidance</strong></p>
            </div>
        </div>
        
        <!--Right Col-->
        <div class="flex flex-col justify-center items-center xl:w-3/6 py-6 overflow-y-hidden">
            <img class="w-[55%] h-[90%] md:pt-3" src="assets/images/homepage-picture.jpg" alt="logo">
        </div>

                
    </div>
    

</div>